<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t("discourse_rewind.title", title: "RETRO TITLE", site_name: SiteSetting.title) %></title>
    <meta property="og:title" content="<%= I18n.t("discourse_rewind.title", title: "RETRO TITLE", site_name: SiteSetting.title) %>">
    <meta property="og:description" content="DESC">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= I18n.t("discourse_rewind.title", title: "RETRO TITLE", site_name: SiteSetting.title) %>">
    <meta name="twitter:description" content="DESC">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="<%= rewind_asset_url("rewind.css")  %>">
  </head>
  <body>
    <div class="rewind__wrapper">
      <div class="rewind">
        <%- @reports.each do |report| %>
          <div class="rewind__report">
            <div class="rewind__report__header">
              <%= report[:identifier] %>
            </div>
            <div class="rewind__report__body">
              <%= report[:data][:count] %>
            </div>
          </div>
        <%- end %>
      </div>
    </div>
  </body>
</html>
